
<div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">

        <p class="centered"><a href="profile.html"><img src="~/Admin/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
        <h5 class="centered">Marcel Newman</h5>

        <li class="mt">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sub-menu">
            <a asp-area="" asp-controller="Dishes" asp-action="Index">
                <i class="fa fa-book"></i>
                <span>Dishes</span>
            </a>
        </li>
        <li class="sub-menu">
            <a asp-area="" asp-controller="Galaries" asp-action="Index">
                <i class="fa fa-picture-o"></i>
                <span>Galary</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-cogs"></i>
                <span>Settings</span>
            </a>
            <ul class="sub">
                <li><a asp-area="" asp-controller="Roles" asp-action="Index">Roles</a></li>
                <li><a asp-area="" asp-controller="AppUser" asp-action="Index">Users</a></li>
            </ul>
        </li>
    </ul>
    <!-- sidebar menu end-->
</div>