@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section w3ls-banner-btm-main" id="about">
    <div class="container">
        <div class="banner-btm">
            <div class="col-md-6 banner-btm-g1">
                <img src="images/about.jpg" class="img-responsive" alt="" />
            </div>
            <div class="col-md-6 banner-btm-g2">
                <h3 class="title-main">welcome to spicy bite </h3>
                <h4 class="sub-title">Feel the flavour, feel the aroma, feel the taste in every bite.</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae nunc auctor, malesuada est eu, pellentesque nisi.
                    Nam in enim lacinia, hendrerit neque non, placerat quam.Mauris eu tortor congue purus congue iaculis sit amet tincidunt
                    neque. Aliquam suscipit nisi erat, non ultricies ex aliquet a.

                </p>
                <div class="find-about">
                    <a href="#" data-toggle="modal" data-target="#myModal">Find out more</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="about-grid">
    <div class="col-md-6 about-sub-grid">
        <div class="col-md-6 about-right about-right-flex">
            <div class="about-bottom-text">
                <h4 class="title1">our story </h4>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipi est eligendi scing elit Nam libero tempore cum soluta nobis est eligendi</p>
            </div>
            <div class="about-bottom-grid about-img1">
            </div>
        </div>
        <div class="col-md-6 about-right about-right-flex">
            <div class="about-bottom-grid about-img2">
            </div>
            <div class="about-bottom-text ab1">
                <h4 class="title1">delicious food </h4>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipi est eligendi scing elit Nam libero tempore cum soluta nobis est eligendi</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-6 about-bottom-grid about-bg"></div>
    <div class="clearfix"></div>
</div>
